@import '~antd/dist/antd';

@ant-prefix: app;
@theme: light;
@font-size-base: 12px;
@primary-color: @red-base;
@layout-header-background: #212224;
@body-background: #ffffff;
@background-color-base: #ffffff;
@layout-background-color: #ffffff;
@layout-body-background: #ffffff;
